.contact {
    width: 80%;
    margin: 0 auto 20rem;
}

.contact p {
    font-size: 2rem;
    font-family: Roboto-Regular;
    margin-bottom: 4rem;
    margin-top: 2rem;
}

.contact-methods {
    width: 50%;
    min-width: 60rem;
    max-width: 80%;
    margin: 0 auto;
    font-size: 2rem;
}

.contact-methods a {
    color: #2a2a2a;
    text-decoration: underline;
}

.contact-methods span {
    font-size: 2rem;
    bottom: -0.2rem;
    position: relative;
    padding-right: 0.5rem;
}

.contact-methods ul {
    display: inline-grid;
    padding-bottom: 2rem;
    list-style: none;
}

.contact-methods li {
    margin-bottom: 0.5rem;
}

/* ==== Form ==== */

.form-title {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* ==== Copy Email Address Action ==== */

.contact-methods button {
    background-color: #ffffff;
    padding: 0.5rem;
    font-size: 1.5rem;
    font-family: Roboto-Regular;
    cursor: pointer;
    border: none;
}

.contact-methods button:hover + .copy-description {
    opacity: 1;
}

.copy-description {
    display: inline-block;
    transition: opacity .2s ease-out;
    opacity: 0;
    font-family: Roboto-Regular;
    font-size: 1.5rem!important;
    margin-left: -1rem;
}

.copy-email-container {
    display: inline;
}

.copy-event {
    font-size: 1.5rem!important;
    transition: opacity .2s ease-out;
    opacity: 0;
    margin-left: -1rem;
}

.copy-event.active {
    opacity: 1;
}

@media screen and (max-width: 800px) {
    .contact-methods {
        width: 80%;
        min-width: 30rem;
    }
}

@media screen and (max-width: 500px) {
    .contact-methods {
        width: 100%;
        max-width: 100%;
    }

    .form-title span {
        position: initial;
        width: 100%;
        margin-left: 0rem;
    }

    .contact-methods {
        width: 100%!important;
    }
}