<div class="electronics-animation-container" style="background-image: url('<%= image_url("svg/electronics") %>');">
  <div class="voltage-container">
    <div class="voltage"></div>
  </div>
</div>

<script>
    // Trigger power supply animation.
    animatePowerSupply()
</script>