<div class="pc-animation-outer-container">
  <div class="pc-animation-inner-container" style="background-image: url('<%= image_url("svg/pc-case") %>');">
    <div>
      <div class="fan-container">
        <%= svg('fan.svg') %>
        <%= svg('fan.svg') %>
        <%= svg('fan.svg') %>
      </div>
    </div>
  </div>
</div>