<div class="footer">
  <ul class="footer-icons">
    <li>
      <a href="https://github.com/Steven-Klavins" target="_blank">
        <%= image_tag "github-icon.png", height: 24 %>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/steven-klavins-90b02a199" target="_blank">
        <%= image_tag "linked-in-icon.png", height: 24 %>
      </a>
    </li>
    <li>
      <a href="https://stevenklavins94.medium.com/" target="_blank">
        <%= image_tag "medium-icon.png", height: 24 %>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/KlavinsSteven" target="_blank">
        <%= image_tag "twitter-icon.png", height: 24 %>
      </a>
    </li>
  </ul>
  <p>&#169; Steven Klavins 2023</p>
</div>