<div class="page-container">
  <h2>Welcome!</h2>

  <div class="text-block">
    A dedicated Full-Stack Engineer, <a href="https://makers.tech/">Makers Academy</a> alumnus,
    and university graduate with a BA in Digital Arts and Technology.
    The ever-evolving world of technology has always exhilarated me, and I still stand in awe at the
    possibilities it offers to make a positive impact on the world.
    In order to develop my potential and foster my creativity, I seek collaborative environments
    where my core values and enthusiasm can be shared.
  </div>
</div>
