/* ==== Carousel Container ==== */

.carousel-container {
    height: min-content;
    min-height: 18rem;
    max-width: 60rem;
    position: relative;
    margin: auto;
    font-family: 'Roboto-Regular';
}

/* ==== Slide Container ==== */

.carousel-slide-container {
    display: none;
    height: 20rem;
    align-items: center;
}

.carousel-slide-container div {
    margin-top: 1rem;
}

.carousel-slide-container img {
    position: relative;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    background-color: #606060;
    margin: auto 1rem;
}

.carousel-slide-container .text {
    margin: auto;
    text-align: left;
    font-size: 2rem;
    font-style: italic;
    color: #121212;
    display: inline-block;
    padding-left: 2rem;
    padding-right: 2rem;
}

.carousel-slide-container .text span {
    font-weight: bold;
    font-style: normal;
    padding-bottom: 2rem;
}

/* ==== Slide ==== */

.carousel-slide {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ==== Navigation ==== */

.carousel-navigation {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4rem;
}

.carousel-navigation .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease
}

.carousel-navigation .active,
.carousel-navigation .dot:hover {
    background-color: #717171
}

@media screen and (max-width: 400px) {

    .carousel-container {
        height: 30rem;
    }

    .carousel-slide-container img {
        height: 30vw;
        width: 30vw;
    }

    .carousel-slide-container .text span {
        display: block;
        width: 100%;
        text-align: center;
    }

    .carousel-slide-container div {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
}