/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* ===== Client Reset ===== */

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/* ==== Font Faces ==== */

@font-face {
    font-family: "Roboto-Regular";
    src: url('Roboto-Regular.ttf');
}

/* ==== Global HTML Styles ==== */

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* ==== Headings ==== */

h1 {
    font-size: 4rem;
    padding: 4rem;
    font-family: "Roboto-Regular";
    text-align: center;
}

h2 {
    font-size: 3rem;
    font-family: "Roboto-Regular";
    text-align: center;
    margin-bottom: 2rem;
}

h3 {
    text-decoration: none;
    font-family: Roboto-Regular;
    font-size: 4rem;
}

a {
    text-decoration: none;
    font-family: Roboto-Regular;
}

li {
    font-family: Roboto-Regular;
}

/* ==== Utils ==== */

.text-block {
    width: 80%;
    max-width: 120rem;
    margin: 2rem auto;
    font-size: 1.8rem;
    font-family: "Roboto-Regular";
}

.text-block a {
    text-decoration: underline;
    color: #2a2a2a;
}

.sk-link a {
    text-align: center;
    text-decoration: none;
    display: block;
    color: #606060;
}

.sk-link a:hover {
    color: #2a2a2a;
}

.file-upload {
    position: relative;
    display: flex;
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.file-upload [type=file] {
    margin-left: 1rem;
    height: 100%;
}

.file-upload label {
    display: block;
    font-size: 2rem;
    font-family: Roboto-Regular;
}

.pagination-block {
    width: 100%;
    text-align: center;
    color: #2a2a2a;
    text-decoration: none;
    font-family: Roboto-Regular;
    font-size: 2rem;
}

.pagination-block a {
    color: #2a2a2a;
    text-decoration: none;
}

/* ==== Transitions ==== */

.fade-in {
    opacity: .1;
    transition: opacity 350ms ease-in;
}

.fade-in.appear {
    opacity: 1;
    transition: opacity 350ms ease-in;
}

.from-left {
    transform: translateX(-50%);
}

.from-right {
    transform: translateX(50%);
}

.from-left, .from-right {
    transition: transform 400ms ease-in;
}

.from-left.appear, from-right.appear {
    transform: translateX(0%);
}

/* ==== Title SVG Logo ==== */

.title svg {
    display: inline-block;
    max-height: 60px;
}

/* ==== Notices ==== */

.notice {
    color: green;
    font-size: 2rem;
    font-family: Roboto-Regular;
    text-align: center;
}

.error {
    text-align: center;
}

.error-notice {
    color: red;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    font-family: Roboto-Regular;
}

/* ===== Action Text ===== */

.trix-overrides {
    width: 80%;
    max-width: 120rem;
    font-size: 2rem;
    margin: 0 auto 12rem;
}

trix-editor {
    min-height: 100rem;
}

/* ===== Banner ===== */

.main-banner {
    position: relative;
    width: 100%;
    height: 20rem;
    margin-bottom: 8rem;
    background: no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: solid 0.1rem rgba(242, 242, 242, 1);
}

.main-banner-overlay {
    position: absolute;
    bottom: 0rem;
    font-family: Roboto-Regular;
    font-size: 8rem;
    background-color: #2a2a2a91;
    clip-path: polygon(0% 0, 50% 0, 100% 100%, 0 100%, 0% 100%);
    width: 100%;
    text-align: left;
    z-index: 3;
    height: 80%;
}

.main-banner h1 {
    position: absolute;
    bottom: 1rem;
    left: 2rem;
    font-family: Roboto-Regular;
    font-size: 8rem;
    z-index: 3;
    color: white;
    padding: 0px;
    text-align: left;
}

/* ===== Footer ===== */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 72px;
    width: 100%;
    text-align: center;
    border-top: solid 0.1rem rgba(242, 242, 242, 1);
    background-color: white;
    z-index: 3;
}

.footer li {
    list-style-type: none;
}

.footer p {
    margin-top: 52px;
    font-size: 12px;
    color: #2a2a2a;
    font-family: Roboto-Regular;
}

.footer-icons {
    width: 180px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

/* ==== Media Queries ==== */

@media screen and (max-width: 1000px) {
    .main-banner h1 {
        font-size: 4rem;
        bottom: 5rem;
    }
}

@media screen and (max-width: 600px) {
    .title {
        display: contents;
    }

    html {
        box-sizing: border-box;
        font-size: 50%;
    }
}

@media screen and (max-width: 350px) {
    .main-banner h1 {
        font-size: 4rem;
        bottom: 0rem;
    }
}