/* ==================================
              BLOG CSS
================================== */

.blog-container {
    display: flex;
    width: 85%;
    max-width: 160rem;
    margin: 0 auto 20rem;
}

/* ==== Blog edit/delete actions ==== */

.blog-actions {
    margin: 0 auto;
    width: 80%;
    display: inline-block;
}

.blog-actions a {
    text-decoration: none;
    font-size: 2rem;
    color: #2a2a2a;
    padding: 2rem;
    float: right;
}

/* ==== Blog Cards ==== */

.blog-card-container {
    display: flex;
    flex: 0 0 85%;
}

.blog-cards {
    width: 85%
}

.blog-card {
    position: relative;
    height: 30rem;
    object-fit: cover;
    margin-bottom: 2rem;
    background: no-repeat center center;
    background-size: 140rem auto;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.blog-card:hover {
    background-size: 110% auto;
}

.blog-card h3 {
    color: #ffffff;
    padding-left: 1rem;
    position: absolute;
    bottom: 0.7rem;
    width: 100%;
    z-index: 2;
}

.blog-card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #2a2a2a91;
    -webkit-clip-path: polygon(67% 40%, 100% 40%, 100% 100%, 100% 100%, 0% 100%, 0 65%, 40% 65%);
    clip-path: polygon(67% 40%, 100% 40%, 100% 100%, 100% 100%, 0% 100%, 0 65%, 40% 65%);
}

.blog-card-date {
    position: absolute;
    right: 0px;
    top: 40%;
    padding: 1rem;
    margin: 0 auto;
    color: white;
    font-size: 3rem;
    text-align: center;
}

.blog-card-date ul {
    list-style: none;
}

/* ==== Blog Categories Box ==== */

.blog-categories-box {
    flex: 0 0 15%;
    background-color: #ffffff;
    min-height: 100%;
    min-width: 230px;
}

.blog-categories-box a {
    color: #2a2a2a;
    text-decoration: none;
}

.blog-categories-box h3 {
    font-size: 2rem;
    padding: 2rem;
    text-align: left;
    background: #2a2a2a;
    margin-left: 1rem;
    color: white;
}

.blog-categories-box ul {
    list-style: none;
    padding: 1rem;
    margin-left: 1rem;
    background-color: #3737370d;
}

.blog-categories-box li {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

/* ==== Blog Form ==== */

.blog-form {
    width: 80%;
    max-width: 120rem;
    margin: 0 auto;
}

.blog-form input[type=text] {
    border: none;
    border-bottom: solid 0.2rem rgba(242, 242, 242, 1);
    outline: none;
    font-size: 4rem;
    width: 100%;
}

/* ==== Shared Overlays ==== */

.blog-categories-overlay ul {
    list-style: none;
    color: white;
    font-size: 2rem;
    padding: 1rem;
}

.blog-categories-overlay li {
    float: right;
    width: max-content;
    background-color: #2a2a2a91;
    padding: .5rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
}

/* ===== Media Queries ===== */

@media screen and (max-width: 1000px) {
    .blog-categories-box {
        display: none;
    }

    .blog-container {
        width: 100%;
    }

    .blog-cards {
        margin: 0 auto;
    }

    .blog-card:hover {
        background-size: 160% auto;
    }
}

@media screen and (max-width: 600px) {
    .blog-card:hover {
        background-size: 160% auto;
    }
}

