<h1>New category</h1>

<div class="categories">
  <div class="sk-form">
    <%= render "form", category: @category %>

    <div class="category-return-link">
      <%= link_to "Back to admin", admin_panel_path %>
    </div>
  </div>
</div>