/* ==== Experience ==== */

.experiences h3 {
    text-align: center
}

.experience {
    width: 80%;
    max-width: 160rem;
    margin: 2rem auto 0rem;
    text-align: center;
    padding-top: 2rem;
}

.experience p {
    width: 100%;
    margin: 0 auto;
    max-width: 100rem;
    font-size: 1.5rem;
    font-family: Roboto-Regular;
    padding-top: 2rem;
}

.experience h3 {
    font-size: 2rem;
    margin: 0rem auto auto;
}

.experience img {
    max-height: 10rem;
    max-width: 100%;
    margin-bottom: 1rem;
}

/* Toolbar */

.experience-toolbar {
    width: 100%;
    font-size: 1.5rem;
    display: inline-block;
}

.experience-toolbar ul {
    width: 80%;
    margin: 0px auto;
}

.experience-toolbar li {
    display: inline-block;
}

.experience-toolbar li:last-of-type {
    float: right;
}

.experience-toolbar button {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}