name: CI
on: [push, pull_request]
jobs: 
  test:
    runs-on: ubuntu-latest
    services:
      db: 
        image: postgres:11
        ports: ['5432:5432']
        env: 
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd "pg_isready -U postgres"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      RAILS_ENV: test
      DATABASE_URL: "postgres://postgres:postgres@localhost:5432/steven_klavins_2023_test"
      RAILS_MASTER_KEY: ${{ secrets.RAILS_MASTER_KEY }}
    steps:
    - uses: actions/checkout@v3
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: '3.2.2' 
        bundler-cache: true
    - uses: browser-actions/setup-chrome@v1
      with:
          chrome-version: 'stable'
    - run: chrome --version
    - name: Wait for Postgres
      run: |
        until pg_isready -h localhost -p 5432 -U postgres; do
          echo "Waiting for Postgres..."
          sleep 1
        done
    - name: Create database
      run: bundle exec rake db:create
    - name: Migrate database
      run: bundle exec rake db:migrate
    - name: Run tests
      run: bundle exec rspec
